!!!
html
	title= 'Node Paper Scissors'
	link(rel="stylesheet", href="/css/style.css")
	script(src="/js/bootstrap.js")
	body
		h1 Welcome to #{title}
		form(method='post', action='/play')
			input(type='radio', name='choice', value='node') 
			|Node
			input(type='radio', name='choice', value='paper') 
			|Paper
			input(type='radio', name='choice', value='scissors') 
			|Scissors
			input(type='submit', value='Play!', class='btn')
